<template name="singleEventView">
    <div class="modal-dialog view-group" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Men's Coffee</h4>
                <button class="btn pull-right">x</button>
            </div>
            <div class="modal-body">

                <div class="group-image-container">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=GroupImage&w=600&h=200" alt="" class="group-image">
                </div>

                <div class="panel panel-default group-details-container">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab1default" data-toggle="tab">Group Info</a>
                            </li>
                            <li class="">
                                <a href="#tab2default" data-toggle="tab">Members</a>
                            </li>

                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1default">
                                <form>
                                    <div class="form-group">
                                        <label for="group-description">Description:</label>
                                        <textarea class="form-control" rows="3" id="group-description" disabled>A men's group dedicated to getting together over a cup of coffee once a week. Join
                                            us for java, fellowship, and a deep dive into the word!</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="group-location">Location:</label>
                                        <input id="group-location" class="form-control" value="Waconia Caribou" disabled>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <label for="">Meets:</label>
                                                <select class="form-control" disabled>
                                                    <option value="0">12:00 am</option>
                                                    <option value="1">1:00 am</option>
                                                    <option value="2">2:00 am</option>
                                                    <option value="3">3:00 am</option>
                                                    <option value="4">4:00 am</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-8">
                                                <label for="">On:</label>
                                                <select class="form-control" disabled>
                                                    <option value="0">Sunday</option>
                                                    <option value="1" selected>Monday</option>
                                                    <option value="2">Tuesday</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" disabled> Childcare Available</label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" disabled checked> Men's</label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" disabled> Women's</label>
                                    </div>

                                </form>


                            </div>



                            <div class="tab-pane fade" id="tab2default">

                                <label>Leaders</label>
                                <div class="list-group members">
                                    <div class="list-group-item">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=60%C3%9760&w=60&h=60" alt="" class="member-image">
                                        <div class="member-info">
                                            <div class="member-name">
                                                <a href="#">Bill Smith</a>
                                            </div>
                                            <div class="member-contact">
                                                <ul>
                                                    <li>(555)-555-5555</li>
                                                    <li>
                                                        <a href="#">bill.smith@someEmail.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <label>Members</label>
                                <div class="list-group members">
                                    <div class="list-group-item">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=60%C3%9760&w=60&h=60" alt="" class="member-image">
                                        <div class="member-info">
                                            <div class="member-name">
                                                <a href="#">Bill Smith</a>
                                            </div>
                                            <div class="member-contact">
                                                <ul>
                                                    <li>(555)-555-5555</li>
                                                    <li>
                                                        <a href="#">bill.smith@someEmail.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="list-group-item">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=60%C3%9760&w=60&h=60" alt="" class="member-image">
                                        <div class="member-info">
                                            <div class="member-name">
                                                <a href="#">Bill Smith</a>
                                            </div>
                                            <div class="member-contact">
                                                <ul>
                                                    <li>(555)-555-5555</li>
                                                    <li>
                                                        <a href="#">bill.smith@someEmail.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="list-group-item">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=60%C3%9760&w=60&h=60" alt="" class="member-image">
                                        <div class="member-info">
                                            <div class="member-name">
                                                <a href="#">Bill Smith</a>
                                            </div>
                                            <div class="member-contact">
                                                <ul>
                                                    <li>(555)-555-5555</li>
                                                    <li>
                                                        <a href="#">bill.smith@someEmail.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="list-group-item">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=60%C3%9760&w=60&h=60" alt="" class="member-image">
                                        <div class="member-info">
                                            <div class="member-name">
                                                <a href="#">Bill Smith</a>
                                            </div>
                                            <div class="member-contact">
                                                <ul>
                                                    <li>(555)-555-5555</li>
                                                    <li>
                                                        <a href="#">bill.smith@someEmail.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="list-group-item">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=60%C3%9760&w=60&h=60" alt="" class="member-image">
                                        <div class="member-info">
                                            <div class="member-name">
                                                <a href="#">Bill Smith</a>
                                            </div>
                                            <div class="member-contact">
                                                <ul>
                                                    <li>(555)-555-5555</li>
                                                    <li>
                                                        <a href="#">bill.smith@someEmail.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="list-group-item">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=60%C3%9760&w=60&h=60" alt="" class="member-image">
                                        <div class="member-info">
                                            <div class="member-name">
                                                <a href="#">Bill Smith</a>
                                            </div>
                                            <div class="member-contact">
                                                <ul>
                                                    <li>(555)-555-5555</li>
                                                    <li>
                                                        <a href="#">bill.smith@someEmail.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Join Group</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</template>